.aside{
    flex: 2;
    flex-direction: column;
    text-align: left;
    margin: 3rem 2rem 0 0;
    padding: 0 1.5rem 1.5rem 1.5rem;
    height: fit-content;
    background-color: white;
    border-radius: 7px;
    box-shadow: 5px 8px 13px 0px rgba(0,0,0,0.3);
    -webkit-box-shadow: 5px 8px 13px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 5px 8px 13px 0px rgba(0,0,0,0.3);
}

.link{
    display: block;
    margin: 10px 0;
    width: fit-content;
    /* border-bottom: 2px solid black; */

    

}

.link:hover{
    border-bottom: 1px solid black;
    transition: 1s ease;
}

@media (max-width: 768px) {
    .aside{
        margin: 1.2rem;
    }
}